[Desktop Entry]
Type=Application
Name=Windows
Exec=@PROJECT_ID@
Icon=@PROJECT_APPSTREAM_ID@
Categories=Settings;DesktopSettings;Qt;RSp;
OnlyShowIn=RSp;
